# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Node
node_modules/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Profile artifacts
original.txt
starship.toml_old
winget_list.txt
